body{
    margin: 0px;
}

#navBar{
   margin-top: 0px;
    height: 110px;
    width: 100%;
}
#firstDiv{
    display: flex;
   /* margin-top: 0px; */
    height: 30px;
    width: 100%;
    background-color: #c7003d;
    color: white;

}
#firstCornerdiv{
    width: 20%;
   
    margin-left: 50px;
    font-size: small; 
    color:white;
    line-height: 5px;
}

#scndCornerdiv{
    width: 48%;
  
    line-height: 5px;
    margin-left: 470px;

    
}
.firstDivConerText{
    display: inline-block;
    margin-left: 20px;
    font-size: small; 
    vertical-align: top; 
    /* margin-bottom: 190px;   */
    
}
#mobileImg{
    display: inline-block;
    /* border: 1px solid green; */
    width: 20px;
    height: 20px;
    margin-top: 5px;
    padding-left: 15px;
}
#mobileText{
    display: inline-block;
    /* border: 1px solid blue; */
    /* margin-left: 30px; */
    vertical-align: top;
}
#secondDiv{
    display: flex;
   
    height: 68px;
    width: 100%; 
    background-color: #e40046;
}

#scndDivIMG{
height: 50%;
width: 20%;
padding-top: 20px;
cursor: pointer;
}
#search{
    width: 40%;
    height: 40px;
    color: lightslategray;
    margin-top: 20px;

}
#search:focus{
outline: 0;
}
#btnsearch{
    height: 40px;
    margin-top: 20px;
    width: 100px;
    background-color: black;
    color: white;
    border: 1px solid transparent;
    cursor: pointer;
}
#cartandsignIN{
    display:flex ;
    width: 30%;
    height: 100%;
    
}
#cart{
    display: flex;
    color: white;
    
    width: 100px;
    margin-left: 100px;
    line-height: 45px;
    font-weight: 30px;
    cursor: pointer;
    /* font-size: small; */
}
#imagecart{
    width: 45px;
   
    height: 30px;
    margin-top: 23px;
    margin-left: 5px;
    cursor: pointer;
}
.signIN{
    /* display: flex; */
    /* align-items: baseline; */
    /* position: relative; */
    color: white;
    line-height: 75px;
    margin-left: 100px;
    cursor: pointer;
      
      
}

.signbtn:hover{
   cursor: pointer;
    color:blue;
}
.dropdown{
    position: relative;
}
.dropdown_menu{
    position: absolute;
    left: 0;
    margin-top: -7px;
   opacity: 0;
    background-color: black;
}
.dropdown > .signbtn:focus + .dropdown_menu{
    opacity: 1;
}


#imageSinIn{
    width: 30px;
  /* background-color: white; */
    height: 25px;
    margin-bottom: -7px;
    margin-left: 18px;
  
}
/* now the category adjuscent part */

#container{
display: grid;
width: 100%;
height: 625px;
border: 1px solid blue;
grid-template-columns: 200px ;
grid-template-rows:200px 100px;
grid-template-areas: "side upper upper"
                      "side upper upper"
                     "side upper upper"
                     "side lower lower"
                     "side lower lower"
                     "side lower lower";


} 
#sideNav{
    grid-area: side;
    border: 1px solid red;
}
#upperBody{
    grid-area: upper;
    border: 1px solid blue;
    height: 400px;
    display: flex;

}


#upperImg{
border: 1px solid red;
width: 78%;
height: 90%;
}
#Slide_container{
    border: 1px solid blue;
    position: relative;
    display: flex;
    /* display: inline; */
    height: 88%;
    width: 100%;
   
    
}
.slider_img{
    width: 181%;
    height: 100%;
}

.arrow{
    cursor: pointer;
    position: absolute;
    top: 45%;
    background-color: rgba(255, 255, 255, 0.692);
    padding: 8px 16px;
    border-radius: 50%;
}
 .next{
    right: 10px;
    
}
.prev{
    left: 10px;
}
.slide{
    display: none;
}
.manual_btn:hover{
text-decoration-line:underline  blue;
}
#imagebottom{
    border: 1px solid red;
    width: 100%;
    height: 10%;
    display: flex;
    
}
.imageBottomText{
    /* border: 1px solid green; */
   margin-left: 50px;
   padding-top: 5px;
   color:#333333;
   font-weight: lighter;
   border: none;
   background-color: white ;
}
#pincodediv{
    border: 1px solid green;
    margin-left: 10px;
    width: 25%;
    height: 90%;
    text-align: center;
}
#mapImage{
  
    /* margin-bo: 0px; */
    height: 55%;
    padding: 30px;
}
#input-container{
   
    height: 40px;
    display: block;
    border-radius: 5px;
    background-color: #fbfbfb;
    border: grey;
}

#pincodeBtn{
    display: flex;
   color: red;
   
    margin-top: 20px;
    height:10% ;
}
#SubmitBtn{
    width: 150px;
    padding-left: 10px;
    background-color: black;
    color: white;
    border-radius: 5px;
    margin-left: 10px;
    border: 1px solid transparent;
    cursor: pointer;
    
}
#NextBtn{
    margin-left: 30px;
    width: 70px;
    color: grey;
    border: none;
    cursor: pointer;

}

#lowerBoddy{
    grid-area: lower;
    border: 1px solid green;
    height: 280px;
    display: flex;
    }
.Timagebox{
height: 100%;
width: 100%;
border: 1px solid navy;
margin-left: 10px;
}

.Timage{
    width: 100%;
    height: 80%;
}