body{
    display: flex;
    align-items: center;
  flex-direction: column;
  font-family: sans-serif;
}
#head{
   width: 150px;
   height: 100px;
   margin-right: 200px;

}
.logoImg{
    width: 350px;
    height: 150px;
    
}
h5{
    margin-left: 25px ;
    margin-top: 10px;
    color: grey;
    margin-right: 15px;

}
p{
   font-weight: bold;
    margin-left: 25px;
}
#container{
    width: 450px;
    height:580px;
    margin-top: 50px;  
    display: flex;
    flex-direction: column;
     align-items: flex-start;  
     vertical-align: top;
}
.inp{
    height: 38px;
    border-radius: 5px;
    width: 400px;
    border: 1px solid grey;
    margin-left: 25px;
    vertical-align: top; 
    outline: 0; 
}
h1{
    color:#a71111 ;
}
button{
    height: 42px;
    color: white;
    padding: 10px;
    width: 409px;
    margin-top: 20px;
    border-radius: 5px;
    margin-left: 25px;
    background-color:#EB0000;
    border: 1px solid #EB0000;
}
.inp:focus{
    border-color: rgb(237, 28, 36);
    box-shadow: 0 0 10px rgb(237, 28, 36);

}
